.container {
  margin: auto;
  padding: 0 20px;
  max-width: 800px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container::before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  -webkit-animation: background-wave 8s ease-in-out infinite alternate;
  animation: background-wave 8s ease-in-out infinite alternate;
}

@keyframes background-wave {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }

  100% {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }
}