/* Font */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* Normalize CSS */
html {
  line-height: 1.15;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Rubik', serif;
}

body {
  margin: 0;
}